{{ define "main" }}
<div>
  <h1>{{ .Title }}</h1>
  {{.Content}}
</div>

<!-- <h2>Skills and Technologies</h2> -->

<h2>Projects</h2>

<!-- <div>
		<p>Exploring the Growth of Powerlifting</p>
		<b>Tech:</b><p>Python (pandas, seaborn/matplotlib)</p>
		<p>In this project, I use pandas to  visualize</p>
	</div> -->

<div class="portfolio-item">
  <h3>Natural Language Processing on Federal Reserve Speeches</h3>
  <i style="text-align: center; display: block;">Work In Progress</i>
  <p>For my honors thesis in mathematical economics, I am applying natural language processing techniques including
    topic modeling and sentiment analysis on Federal Reserve Speeches.</p>
  <div class="portfolio-item-bottom">
    <a class="repo-link" href="https://github.com/bendurham441/fed-nlp">
      GitHub Repository
    </a>
  </div>
</div>
<div class="portfolio-item">
  <h3>OpenPowerlifting: Exploratory Data Analysis</h3>
  <p>
    In this project, I use python, pandas, and matplotlib to explore several
    variables included in the
    <a href="https://openpowerlifting.gitlab.io/opl-csv/bulk-csv-docs.html">OpenPowerlifting dataset</a>. This includes
    using data transformations, aggregations, and
    visualizations to better understand the dataset.
  </p>
  <div class="portfolio-item-bottom">
    <a class="repo-link" href="https://github.com/bendurham441/powerlifting-analysis">GitHub Repository</a>
  </div>
</div>
<div class="portfolio-item">
  <h3>News Headline Classification: Naive Bayes</h3>
  <p>
    I explore natural language processing techniques to classify news
    headlines as one of four categories, using NLTK and Sci-kit Learn. After
    training the model, I evaulate its performance using a confusion matrix.
  </p>
  <div class="portfolio-item-bottom">
    <a class="repo-link" href="https://github.com/bendurham441/news-classification">GitHub Repository</a>
  </div>
</div>
{{end }}