<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charest="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{ .Title }}</title>
		{{ $css := "css/styles.css" | relURL }}
		<link rel="stylesheet" href="{{ $css }}" />
		<link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans">
	</head>
	<body>
		<div id="container">
			{{ partial "nav.html" . }}
			<main id="main">
				{{ block "main" . }}{{ end }}
			</main>
			{{ partial "footer.html" . }}
		</div>
	</body>
</html>